.title {
    margin-left: 30px;
    font-family: cambria;
}
body {
    background-color: rgb(235, 205, 247);
}
body > p {
    margin-left: 30px;
    font-family: cambria;
}
body > a > img {
    width: 800px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.caption {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Cambria;
}